.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
.content-wrapper {
    max-height: 100%;
}

.bio-container {
    padding: var(--padding-sm);
    margin: var(--margin-sm);
    max-width: var(--width-md)
}
.bio-pic {
    max-width: 100%;
}