.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.menu-item {
    cursor: pointer;
    user-select: none;
}
.menu-item:hover .menu-title{
    text-decoration: none;
}
.menu-item.active .menu-title{
    text-decoration: none;
}
